<html lang="pt-PT">

<head>

{% include "recipes/partials/head.html" %} <!--EXECUTAR UMA TAREFA-->

<title> {% block title %}{% endblock title %} Recipes </title>

</head>

<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}


    <main class="content-container">
        <div class="main-content main-content-list container">
            {% block content %} {% endblock content %}
        </div>
    </main>

</body>
    {% include "recipes/partials/footer.html" %}  
</html>